* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  margin: 50px 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid lightslategray;
  border-radius: 50%;
  padding: 3px;
  font-weight: 600;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.item-img {
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}